## Задание 1


Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов.
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй — числа 6, 8, 11, 10, 7.
Будем считать, что каждый столбец — это признак, а строка — наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy.
Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

given_data = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])

a = np.transpose(given_data)
mean_a = a.mean(axis = 0)

In [2]:
print(a)
print("Размерность A: {}".format(a.ndim))
print("Форма A: {}\n".format(a.shape))

print(mean_a)
print("Размерность A: {}".format(mean_a.ndim))
print("Форма A: {}\n".format(mean_a.shape))

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Размерность A: 2
Форма A: (5, 2)

[2.  8.4]
Размерность A: 1
Форма A: (2,)


Вычислите массив a_centered, отняв от значений массива а 
средние значения соответствующих признаков, содержащиеся в массиве mean_a.
Вычисление должно производиться в одно действие.
Получившийся массив должен иметь размер 5x2.

In [3]:
a_centered = a - mean_a

In [4]:
print(a_centered)
print("Размерность A: {}".format(a_centered.ndim))
print("Форма A: {}\n".format(a_centered.shape))

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
Размерность A: 2
Форма A: (5, 2)

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp.

In [5]:
# Пробовал варианты с .dot но так и не сообразил. Например:
# d = np.transpose(a_centered).dot(a_centered) 
# d = a_centered.dot(np.transpose(a_centered))
# В итоге делал вручную..

# Подбрал перебором подходящие слайсы. 
"""
print("Первый столбец:\n",a_centered[:,:1])
print("Второй столбец:\n",a_centered[:,1:])
a_centered_sp_tmp = a_centered[:,1:] * a_centered[:,:1]
a_centered_sp = a_centered_sp_tmp.sum()
"""

# fixed: Вариант c np.dot
a_centered_sp = np.dot(a_centered[:,0],a_centered[:,1]) 
print("a_centered_sp = ", a_centered_sp)

a_centered_sp =  8.0

Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [6]:
covariation = a_centered_sp / (given_data.shape[1] - 1)
print(covariation)

2.0

Число, которое мы получили в конце задания 3, является ковариацией двух признаков, содержащихся в массиве а. В задании 3 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.

Подробнее узнать о ковариации можно здесь: https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом — с помощью функции np.cov.

В качестве аргумента m функция np.cov должна принимать транспонированный массив a. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [7]:
np.cov(given_data)[0,1]

2.0

## Задание 2

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price,
в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [8]:
import pandas as pd

authors = {
    "author_id": [1, 2, 3],
    "author_name": ['Тургенев', 'Чехов', 'Островский']
}

authors = pd.DataFrame(authors)

book = pd.DataFrame({ "author_id": [1, 1, 1, 2, 2, 3, 3],
        "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
        "price": [450, 300, 350, 500, 450, 370, 290]
})

In [9]:
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [10]:
book.describe()

       author_id       price
count   7.000000    7.000000
mean    1.857143  387.142857
std     0.899735   80.976187
min     1.000000  290.000000
25%     1.000000  325.000000
50%     2.000000  370.000000
75%     2.500000  450.000000
max     3.000000  500.000000

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [11]:
authors_price = pd.merge(authors, book, on = "author_id" , how='inner')

In [12]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [13]:
top5 = authors_price.nlargest(5, "price")

In [14]:
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Создайте датафрейм authors_stat на основе информации из authors_price.
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,
минимальная, максимальная и средняя цена на книги этого автора.

In [15]:
grouped_authors = authors_price.groupby("author_name")

''' 
print(grouped_authors.min())
print(grouped_authors.max())
print(grouped_authors.mean())
'''
authors_stat = grouped_authors.agg({"price":[ "max",  "min","mean"]})

In [16]:
authors_stat

            price
              max  min        mean
author_name
Островский    370  290  330.000000
Тургенев      450  300  366.666667
Чехов         500  450  475.000000

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги — твердая или мягкая. В этот столбец поместите данные из следующего списка: ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table 
с помощью вопросительного знака.

In [17]:
cover_list = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

# Решение через pd.Series
cover_list = pd.Series(cover_list)
authors_price["cover"] = cover_list.values

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. 
При этом столбцы должны называться «твердая» и «мягкая»,
а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy. Назовите полученный датасет book_info ...

In [18]:
#import numpy as np


authors_price_pivoted = authors_price.pivot_table(index='author_name', columns='cover', aggfunc='sum')
book_info = authors_price_pivoted.fillna(0)

#authors_price.pivot_table(index='author_name', columns='cover', aggfunc='sum').fillna(0)

In [19]:
book_info

            author_id          price
cover          мягкая твердая мягкая твердая
author_name
Островский        6.0     0.0  660.0     0.0
Тургенев          2.0     1.0  650.0   450.0
Чехов             0.0     4.0    0.0   950.0

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
Затем загрузите из этого файла датафрейм и назовите его book_info2.
Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [20]:
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")

In [21]:
book_info2

            author_id          price
cover          мягкая твердая мягкая твердая
author_name
Островский        6.0     0.0  660.0     0.0
Тургенев          2.0     1.0  650.0   450.0
Чехов             0.0     4.0    0.0   950.0

In [22]:
if book_info.equals(book_info2) is True:
    print("Датафреймы идентичны")
else:
    print("Датафреймы не совпали")

Датафреймы идентичны